:root {
  --darkgreen: #379683;
  --green: #5cdb95;
  --lightgreen: #8ee4af;
  --blue: #05386b;
  --white: #edf5e1;
}

body {
  background-color: var(--green);
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.authcontainer {
  background-color: var(--lightgreen);
  padding: 30px;
  border-radius: 20px;
  top: 50%;
  display: inline-block;
  margin: auto;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.authlabel {
  color: var(--blue);
  font-family: Tahoma;
  font-size: 14px;
  margin: 5px;
}

.authfield {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 10px;
}

.topRight {
  position: absolute;
  top: 20px;
  right: 30px;
  font-family: Tahoma;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topLeft {
  position: absolute;
  top: 20px;
  left: 30px;
  font-family: Tahoma;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  margin-left: 10px;
  margin-right: 20px;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  height: 40px;
}

input {
  background-color: var(--white);
  border-style: solid;
  border-color: var(--white);
  border-radius: 6px;
  border-width: 1px;
  margin-left: 10px;
  color: var(--blue);
  font-family: Tahoma;
  font-size: 14px;
  padding: 5px;
}

button {
  background-color: var(--blue);
  border-style: solid;
  border-color: var(--blue);
  color: var(--white);
  border-radius: 30px;
  border-width: 2px;
  font-family: Tahoma;
  font-size: 14px;
  line-height: 14px;
  padding: 10px 20px 10px 20px;
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
}
button:hover {
  border-color: var(--white);
}
button:active {
  background-color: var(--white);
  border-color: var(--white);
  color: var(--blue);
}

.static {
  position: static;
}

.signup {
  background-color: transparent;
  border-width: 0px;
  font-family: Tahoma;
  color: var(--blue);
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  padding: 5px;
  margin-top: 2px;
  text-align: center;
}
.signup:active{
  background-color: transparent;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/*----------GAME STYLE----------*/
.gameboard {
  width: auto;
  height: auto;
}

.square {
  width: 40px;
  height: 40px;
}

.row {
  display: flex;
}
.img {
  background-size: 40px;
  image-rendering: pixelated;
}

.player {
  background-image: url("./sprites/char.png");
}
.box {
  background-image: url("./sprites/box.png");
}
.boxgoal {
  background-image: url("./sprites/boxgoal.png");
}
.wall {
  background-image: url("./sprites/wall.png");
}
.goal {
  background-image: url("./sprites/goal.png");
}
.floor {
  background-image: url("./sprites/floor.png");
}
.controls {
  width: auto;
  height: 20px;
  font-family: tahoma;
  color: var(--white);
  font-weight: bold;
  background-color: var(--blue);
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 5px;
  display: flex;
}
.complete{
  text-align: center;
  width:100%;
}
.reset{
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 1px 5px 0px 5px;
  border-radius: 5px;
}
svg{
  fill: var(--white);
}

/*----------MENU----------*/
.menu {
  height: 100vh;
  width: 100px;
  margin: 20px;
  position: absolute;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;
  transform: translateX(-120%);
}

.menubutton {
  width: 30px;
  height: auto;
  margin: 30px 20px 0px 30px;
  cursor: pointer;
}
.line {
  background-color: var(--blue);
  height: 5px;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
}
.active {
  visibility: visible;
  transition: all 0.5s ease;
  transform: translateX(0);
}

/*----------TOAST----------*/
.toast {
  border: 2px solid transparent;
  background-color: red;
  color: var(--white);
  text-align: center;
  height: 30px;
  font-family: Tahoma;
  padding-top: 10px;
  border-radius: 4px;
  max-width: 300px;
  margin-top: 16px;
  position: sticky;
  top: 10px;
  left: 10px;
}