.square {
  width: 40px;
  height: 40px;
}

.img {
  background-size: 40px;
  image-rendering: pixelated;
}

.player {
  background-image: url("../assets/char.png");
}
.box {
  background-image: url("../assets//box.png");
}
.boxgoal {
  background-image: url("../assets/boxgoal.png");
}
