.gameboard {
  width: auto;
  height: auto;
}

.square {
  width: 40px;
  height: 40px;
}

.row {
  display: flex;
}
.img {
  background-size: 40px;
  image-rendering: pixelated;
}

.player {
  background-image: url("../assets/char.png");
}
.box {
  background-image: url("../assets//box.png");
}
.boxgoal {
  background-image: url("../assets/boxgoal.png");
}
.wall {
  background-image: url("../assets/wall.png");
}
.goal {
  background-image: url("../assets/goal.png");
}
.floor {
  background-image: url("../assets/floor.png");
}
.controls {
  width: auto;
  height: 20px;
  font-family: tahoma;
  color: var(--white);
  font-weight: bold;
  background-color: var(--blue);
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 5px;
  display: flex;
}
.complete {
  text-align: center;
  width: 100%;
}
.reset {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 1px 5px 0px 5px;
  border-radius: 5px;
}
svg {
  fill: var(--white);
}
