.square {
  width: 40px;
  height: 40px;
}

.img {
  background-size: 40px;
  image-rendering: pixelated;
}

.wall {
  background-image: url("../assets/wall.png");
}
.goal {
  background-image: url("../assets/goal.png");
}
.floor {
  background-image: url("../assets/floor.png");
}
