:root {
  --darkgreen: #379683;
  --green: #5cdb95;
  --lightgreen: #8ee4af;
  --blue: #05386b;
  --white: #edf5e1;
}

body {
  background-color: var(--green);
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

p {
  font-family: Tahoma;
  color: var(--blue);
}

table {
  font-family: Tahoma;
  border-spacing: 0px;
  margin-top: 10px;
}

th,
td {
  padding: 7px;
  border: 1px solid var(--blue);
  background-color: var(--blue);
  color: var(--white);
  min-width: 130px;
  text-align: center;
}
td:hover {
  cursor: pointer;
}

.textlabel {
  color: var(--blue);
  font-family: Tahoma;
  font-size: 14px;
  margin: 5px;
}

.flexright {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.screencenter {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: tahoma;
  color: var(--blue);
  margin: 50px;
  font-size: 100px;
}

input {
  background-color: var(--white);
  border-style: solid;
  border-color: var(--white);
  border-radius: 6px;
  border-width: 1px;
  margin-left: 10px;
  color: var(--blue);
  font-family: Tahoma;
  font-size: 14px;
  padding: 5px;
}

button {
  background-color: var(--blue);
  border-style: solid;
  border-color: var(--blue);
  color: var(--white);
  border-radius: 30px;
  border-width: 2px;
  font-family: Tahoma;
  font-size: 14px;
  line-height: 14px;
  padding: 10px 20px 10px 20px;
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
}
button:hover {
  border-color: var(--white);
}
button:active {
  background-color: var(--white);
  border-color: var(--white);
  color: var(--blue);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/*----------NavBar----------*/
nav ul {
  list-style: none;
  text-align: right;
  margin: 40px 60px;
}
nav li {
  display: inline-block;
  margin: 0px 30px 0px 30px;
}
nav a {
  display: block;
  text-decoration: none;
}
nav a {
  font-family: tahoma;
  font-weight: bold;
  font-size: 30px;
  color: var(--blue);
}
nav a:hover {
  cursor: pointer;
  color: var(--darkgreen);
}
